@font-face {
    font-family: 'Roboto';
    src: url('./assets//fonts//Roboto-Regular.ttf');
    }

body {
    color:#1C1C1C;
    font-family: Roboto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 204px;
}

.tabs-triggers {
    display: flex;
}

.tabs-triggers__item {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px 152px;
    font-size: 18px;
    border-radius: 16px;
    text-decoration: none;
    color: unset
}

.tabs-content__item {
    display: none;
    padding: 20px;
}

.tabs-content__item--active {
    display: block;
}

.tabs-triggers__item--active {
    background-color: #EDF9FF;
    color: #117DC1;
}

.button-show {
    width: 32px;
    height: 32px;
    background-size: cover;
}

.button-show--show {
    background-image: url('./assets/icons/Open.png');
}

.button-show--hide {
    background-image: url('./assets/icons/Close.png');
}

.user-item,
.album-item {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 24px 0;
}

.offset-left {
    margin-left: 56px;
}

.photo-item {
    width: 150px;
    height: 150px;
}

.photos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 42px;
    width: 534px;
}